@import './src/style/_containers.css';
@import './src/style/_text.css';
@import './src/style/_images.css';
@import './src/style/_button.css';
@import 'https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    overflow-style: none;
    font-family: 'Fira Code', monospace;
}
:-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-button {
    display: none;
}

:root {
    --main-color: #FFFFFF;
    --secondary-color: #002f48;
    --third-color: #F77F3C;
}

body {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}