@import './src/style/_containers.css';
@import './src/style/_text.css';
@import './src/style/_images.css';
@import './src/style/_input.css';
@import './src/style/_animation.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -ms-overflow-style: none;
    overflow-style: none;
    font-family: 'Fira Code', monospace;
}
:-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-button {
    display: none;
}

:root {
    --main-color: #FFFFFF;
    --secondary-color: #002f48;
    --third-color: #F77F3C;
}

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 1px grey; 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }

  ::placeholder {
    color: rgba(0, 0, 0, 0.5);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgba(0, 0, 0, 0.5);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgba(0, 0, 0, 0.5);
  }

body {
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
}
