header, main, section, my-footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    border-radius: 25px 25px 0 0;
}

header {
    height: 15vh;
    background-color: var(--main-color);
    border-radius: 0;
}

main {
    height: 90vh;
    top: 10vh;
    background-color: var(--secondary-color);
}

section {
    height: 60vh;
    top: 40vh;
    background-color: var(--main-color);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    top: 90vh;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0 3vh;
    border-top: 1px solid rgba(255,255,255,0.5);
}

app, login {
    position: absolute;
    display: none;
    margin: auto;
    border: 1px solid var(--third-color);
    background-color: var(--secondary-color);
    overflow: hidden;
}

#loadingDiv {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0vh;
}

footer div {
    position: relative;
    display: none;
    margin: auto;
    width: 75vh;
    height: 70vh;
    top: -85vh;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden scroll;
}

input:checked + label div {
    display: block;
}

#addContactDiv > form {
    position: relative;
}

#searchContactDiv, #listContactDiv {
    margin: 0 auto;
    padding: 1.5em;
    align-content: center;
    width: 75vh;
}

.popUp {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
}

.popup-container {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    margin: 0 auto;
    z-index: 9999999;
    background-color: rgba(0,0,0,.8)
}

.popup {
    position: absolute;
    display: inline-block;
    width: 70vh;
    height: 80vh;
    top: 10vh;
    left: 2.5vh;
    margin: 0 auto;
    padding: .5rem 1.5rem;
    background-color: white;
}

.popup > h2 {
    text-align: center;
}

.popup > p {
    margin: 4rem 1rem;
    font-size: 1.5rem;
}

.popup-closer {
    position: absolute;
    text-align: center;
    padding: .2rem 1rem;
    top: 10vh;
    right: 5.5em;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 25%;
    z-index: 99999999;
    background-color: rgba(0, 0, 0, 0.049);
}