header, main, section, my-footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    border-radius: 25px 25px 0 0;
}

header {
    height: 15vh;
    background-color: var(--main-color);
    border-radius: 0;
}

main {
    height: 90vh;
    top: 10vh;
    background-color: var(--secondary-color);
}

section {
    height: 60vh;
    top: 40vh;
    background-color: var(--main-color);
}

footer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 12vh;
    top: 80vh;
    width: 100%;
    background-color: var(--secondary-color);
    margin: 0;
    padding: 0 3vh;
}

app, login {
    position: absolute;
    display: none;
    height: 100vh;
    margin: auto;
    border: 1px solid var(--third-color);
    background-color: var(--secondary-color);
}

#loadingDiv {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0vh;
}

footer div {
    position: relative;
    display: none;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.2);
    width: 69vh;
    height: 70vh;
    top: -85vh;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden scroll;
}

input:checked + label div {
    display: block;
}

form {
    padding: 1em;
}