.icon-logo {
    position: relative;
    display: block;
    margin: auto;
    padding: 0;
    width: 30vh;
    height: 30vh;
    top: 35vh;
}

#loadingDiv img {
    position: relative;
    display: block;
    margin: auto;
    top: 20vh;
    width: 20vh;
    height: 20vh;
    animation: loading-animation 2s infinite linear;
}

footer img {
    width: 3em;
    height: 3em;
    border: 1px solid white;
    border-radius: 50%;
    padding: 0.5em;
}