#loginButton {
    color: var(--third-color);
    background-color: var(--secondary-color);
    border: 1px solid var(--third-color);
    cursor: pointer;
    display: block;
    position: relative;
    margin: auto;
    top: 35vh;
    font-size: 1em;
    padding: .5em 1.5em;
    border-radius: 10px;
    outline: none;
}

.radioButtons {
    display: none;
}

.radioButtonLabel {
    line-height: 12vh;
}

.selectAddClient, input{
    position: relative;
    display: block;
    margin: 0 0 3em 0;
    padding: .5em 1.5em;
    width: 100%;
    font-size: 1em;
    line-height: 1em;
    background-color: transparent;
    border-radius: 15px;
    border: 1px solid var(--third-color);
    outline: none;
}

form input {
    margin: 0 0 3em 0;
}

.selectAddClient:active {
    background-color: var(--secondary-color);
    border: none;
}

.selectAddClient {
    color: var(--third-color);
}

form button {
    position: relative;
    display: block;
    background-color: transparent;
    color: white;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    font-size: 2em;
    padding: 0 1.5em;
    margin: 0 auto;
    outline: none;
}

form button:hover {
    position: relative;
    display: block;
    background-color: transparent;
    color: var(--third-color);
    border: 1px solid var(--third-color);
    border-radius: 10px;
    font-size: 2em;
    padding: 0 1.5em;
    margin: 0 auto;
    outline: none;
}

form button:active {
    position: relative;
    display: block;
    background-color: transparent;
    color: var(--third-color);
    border: 3px solid white;
    border-bottom: 5px solid white;
    border-radius: 10px;
    font-size: 2em;
    padding: 0 1.5em;
    margin: 0 auto;
    outline: none;
}

#searchBar {
    width: 100%;
    outline: none;
    border: 1px solid var(--third-color);
    border-radius: 10px;
    font-size: 1.5em;
    line-height: 1.5em;
    height: 1.5em;
    color: var(--third-color);
    padding: .25em .75em;
}

.popup > span > a {
    padding: .5rem 1.5rem;
    background-color: green;
    color: white;
    text-decoration: none;
    position: relative;
    top: 30vh;
}

.whatsapp {
    float: right;
}