.page-title {
    color: white;
    background-color:rgba(0,0,0,0.1);
    padding: .1em 1.5em;
    position: relative;
    margin: 0 auto;
    top: 10vh;
    max-width: 7em;    
    font-size: 2em;    
    border-radius: 10px;
}

p {
    font-size: 1em;
}

.line-heigh-20vh {
    line-height: 15vh;
    padding-left: 5vw;
}

header h1 span{
    font-size: 2em;
    color: var(--secondary-color);
}

main p{
    color: var(--third-color);
    padding: 5vh;
}

.labelAddClient {
    position: relative;
    display: block;
    width: 100%;
    height: 1.5em;
    font-size: 1em;
    line-height: 1em;
    margin: .5em auto;
    padding: .25em 0;
    color: var(--third-color);
}

label i {
    color: var(--third-color);
    float: right;
    position: relative;
    right: 1em;
    top: 1.5em;
    border-left: 1px solid var(--third-color);
    padding-left: .5em;
    cursor: pointer;
    z-index: 1;
    display: none;
}

#listOfContacts li {
    list-style: none;
    cursor: pointer;
    text-align: center;
    background-color: white;
    margin-bottom: .5em;
}

#ulResultadoList li {
    list-style: none;
    cursor: pointer;
    padding: .5em 1.5em;
    text-align: center;
    background-color: white;
    margin-bottom: .5em;
}

.contactNameHeader {
    position: relative;
    width: 100%;
    height: 100%;
}