* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
}

*{
    margin: 0;
    padding: 0;
}

:-webkit-scrollbar {
    display: none;
}
  
::-webkit-scrollbar-button {
    display: none;
}
  
body {
    -ms-overflow-style:none;
}

header {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 20vh;
    background-color: #ccc;
}

main {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 80vh;
    top: 15vh;
    border-radius: 25px 25px 0 0;
    background-color: #002f48;
}

section {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 55vh;
    top: 40vh;
    border-radius: 25px 25px 0 0;
    background-color: #ccc;
}

footer {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 10vh;
    top: 90vh;
    border-radius: 25px 25px 0 0;
    background-color: #002f48;
}